@await Html.PartialAsync("_SideBarPartial")

<div class="col-8 col-12-medium imp-medium">
    <div id="content">

        <article>
            <header>
                <h2>Welcome to our Building Company</h2>
            </header>
			<p>
                Ми є провідною будівельною компанією, яка прагне досконалості та задоволення потреб клієнтів. Маючи багаторічний досвід у галузі,
                ми спеціалізуємося на житлових та комерційних будівельних проектах. Наша команда кваліфікованих фахівців прагне забезпечити високоякісну майстерність 
                та інноваційні рішення для задоволення потреб наших клієнтів. Незалежно від того, чи ви хочете побудувати будинок своєї мрії, чи реалізувати масштабний комерційний проект,
                ми маємо досвід та ресурси, щоб втілити ваше бачення в життя. Зв'яжіться з нами сьогодні, щоб дізнатися більше про наші послуги та про те, як ми можемо допомогти вам досягти 
                ваших будівельних цілей.

            </p>
			<span class="image featured"><img src="~/img/main_photo.jpg" alt="welcome" /></span>
        </article>

    </div>
</div>