@await Html.PartialAsync("_SideBarPartial")

<div class="col-8 col-12-medium imp-medium">
    <div id="content">

        <article>
            <header>
                <h2>Welcome to our Building Company</h2>
            </header>
			<p>
                We are a leading building company with a commitment to excellence and customer satisfaction.
                With years of experience in the industry, we specialize in residential and commercial construction projects.
                Our team of skilled professionals is dedicated to delivering high-quality craftsmanship and innovative solutions to meet our clients' needs.
                Whether you're looking to build your dream home or undertake a large-scale commercial project, we have the expertise and resources to bring your vision to life.
                Contact us today to learn more about our services and how we can help you achieve your construction goals.

            </p>
			<span class="image featured"><img src="~/img/bg01.png" alt="welcome" /></span>
        </article>

    </div>
</div>