<div class="col-4 col-12-medium">
    <div id="sidebar">

        <!-- Sidebar -->

        <section>
            <header class="major">
                <h2>Вiтаємо!</h2>
            </header>
            <p>
               Ми - українська компанія з будівництва!
            </p>
            <footer>
                <a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">Перейти до послуг</a>
            </footer>
        </section>

    </div>
</div>